<div class="modal-header">
  <h5 class="modal-title">Compose Your Diary</h5>
  <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
</div>
<div class="modal-body">
  <%- include('_partials/compose-form') %>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-warning" data-bs-dismiss="modal">Close</button>
  <button id="compose-form-submit" type="button" class="btn btn-success">Submit</button>
</div>
