<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>your_project_name_here</title>

  <link rel="stylesheet" href="/scss/styles.scss">
  <%- styles %>

  <script src="/jquery/jquery.min.js"></script>
  <script src="/bootstrap/bootstrap.bundle.min.js"></script>
  <script src="/axios/axios.js"></script>
  <%- scripts %>
</head>
<body>
  <%- body %>
</body>
</html>