
<div class="container my-3 text-center">
  <div class="modal-header">
    <h1 class="modal-title">Error</h1>
    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
  </div>
  <div class="modal-body">
    <h2>Please Login First!</h2>
  </div>
</div>
