<script>
  $(document).ready(function() {
    $signupModal = $('#signup-modal')
    $signupForm = $('#signup-form')

    $signupModal.on('click', '#signup-form-submit', function(e) {
      e.preventDefault()
      const formData = new FormData($signupForm[0])

      axios({
        method: 'POST',
        url: '/api/auth/signup',
        data: formData
      }).then(function() {
        $signupModal.modal('hide')
        $('#login-modal').modal('show')
      }).catch(function(err) {
        switch (err.response.status) {
          case 406: {
            const { response: { data: { errors } }} = err

            $signupModal.find('.invalid-feedback').empty()
            $signupModal.find('.is-invalid').removeClass('is-invalid')

            errors.forEach(function(error) {
              const { param: fieldName, msg } = error
              const $input = $signupModal.find(`[name="${fieldName}"]`)
              const $invalidFeedback = $input.siblings('.invalid-feedback')
              $input.addClass('is-invalid')
              $invalidFeedback.text(msg)
            })
            break
          }
          default: {
            console.log(err.response)
            break
          }
        }
      })
    })
  })
</script>

<div id="signup-modal" class="modal fade" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Signup</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form id="signup-form" novalidate>
          <div class="form-group">
            <label>Email</label>
            <input class="form-control" type="email" name="email">
            <div class="invalid-feedback"></div>
          </div>
          <div class="form-group">
            <label>Password</label>
            <input class="form-control" type="password" name="password">
            <div class="invalid-feedback"></div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-warning" data-bs-dismiss="modal">Close</button>
        <button id="signup-form-submit" type="button" class="btn btn-success">Submit</button>
      </div>
    </div>
  </div>
</div>
